<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          
          <h3>Cargar <span>Archivo</span></h3>
          <p>La empresa Tecnologías Chapinas, S.A. está desarrollando una herramienta que sea capaz de analizar contenido de redes sociales y establecer el sentimiento de los usuarios respecto a una empresa y los servicios que provee</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <textarea name="entrada" rows="15" cols="100" class="form-control" placeholder="XML de entrada"></textarea>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <div class="input-group mb-3">
              <textarea name="salida" rows="15" cols="100" class="form-control" placeholder="XML de salida"></textarea>
            </div>
          </div>
        </div>
        <div class="text-center"><button type="button" class="btn btn-success" onclick="calculadora()" >Reset</button>
          <button type="button" class="btn btn-danger" onclick="calculadora()" >Enviar</button></div>
      </div>
    </section><!-- End About Section -->


  <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h3>Petici<span>ones</span></h3>
          
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 col-6">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Consultar Datos</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Resumen de clasificación por fecha</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Resumen por rango de fechas</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Reporte en sssPDF</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Prueba de mensaje</a></h3>
            </div>
          </div>
          <div class="input-group mb-3">
            <textarea name="peticion" rows="15" cols="100" class="form-control" placeholder="Peticiones"></textarea>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Informacion del Estudiante</h2>
          <h3>Yenifer Ester Yoc Larios <span>201952336</span></h3>
          <p>Estudiante de IPC 2</p>
        </div>

        <div class="row" >

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/yo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yenifer Yoc</h4>
                <span>201952336</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" >
            <form action="">
                <p>Profesora de Enseñanza Media en Pediagogía y tecnica en Administración Educativa egresada de la Universidad de San carlos de Guatemala, estudiante de las carreras: </p>
                
                  <ul>
                  <li><i class="ri-check-double-line"></i> Facultad de Ingeniería ------ Ingeniería en Ciencias y Sistemas</li>
                  <li><i class="ri-check-double-line"></i> Facultad de Humanidades ----- Licenciatura en Pedagogía y Administración educativa</li>
                 </ul>
                 
              </form>
            
          </div>
          


        </div>

              

      </div>
    </section><!-- End Team Section -->

    
